
body {
  background-color: #fcf1e5;
}

footer > div > div > div:nth-child(1) > img {
  width: 50%;
  border-radius: 25px;
}

.rating-emoji {
  margin: 0 0.2em;
  font-size: 1.5rem;
  transition: opacity 0.3s ease;
}

.scheda-tecnica {
  background-color: #A8C0A8;
  margin-top: 3rem;
}

.cta-btn {
  background-color: #A8C0A8;
  border-color: #6d926d;
}
