<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />

{{- if .Page.IsPage -}}

    <meta property="og:url"  content="{{- .Permalink -}}" />
    <meta property="og:type" content="article" />

    {{- $title := replace .Title '"' ' ' -}} 
    <meta property="og:title" content="{{- $title -}}" />
    {{- if .Params.summary -}}
        {{- $summary := replace .Params.summary '"' ' ' -}}
        <meta property="og:description" content="{{- $summary -}}" />
    {{- else -}}
        <meta property="og:description" content="" />
    {{- end -}}

    {{- $image := "" -}}
    {{- $imgWidthDefault := 375 -}}
    {{- $imgHeightDefault := 250 -}}
    {{- if and .Params.summaryImage (.Page.Resources.GetMatch .Params.summaryImage) -}} 
        {{- $image = .Page.Resources.GetMatch .Params.summaryImage -}}
        {{- .Scratch.Set "image" ($image.Resize "600x") -}}
        {{- $image = .Scratch.Get "image" -}}
    {{- else -}}
        {{- $image = resources.Get .Site.Params.summary.defaultImage -}}
        {{- .Scratch.Set "image" ($image.Resize "600x") -}}
        {{- $image = .Scratch.Get "image" -}}
    {{- end -}}

    <!-- <meta property="og:locale"      content="" /> -->
    {{- if .Page.Params.keepImageRatio -}}
        <meta property="og:image:width"  content="{{- $image.Width -}}" />
        <meta property="og:image:height" content="{{- $image.Height -}}" />
    {{- else -}}
        <meta property="og:image:width"  content="{{- $imgWidthDefault -}}" />
        <meta property="og:image:height" content="{{- $imgHeightDefault -}}" />
    {{- end -}}
    <meta property="og:image" content="{{- $image.Permalink -}}" />

{{- else -}}
    <meta property="og:title" content="La teoria dello zaino">
    <meta property="og:description" content="In questo sito voglio raccogliere esprienze, guide e riflessioni su montagna, trekking e cammini. Per vivere e amare la montagna e il mondo outdoor in generale">
    <meta property="og:image" content="https://www.lateoriadellozaino.it/img/logo-transparent.png">
    <meta property="og:url" content="https://www.lateoriadellozaino.it/">

    <meta name="twitter:title" content="La teoria dello zaino">
    <meta name="twitter:description" content="In questo sito voglio raccogliere esprienze, guide e riflessioni su montagna, trekking e cammini. Per vivere e amare la montagna e il mondo outdoor in generale">
    <meta name="twitter:url" content="https://www.lateoriadellozaino.it/img/logo-transparent.png">
    <meta name="twitter:card" content="summary">
{{- end -}}
