{{- define "main" -}}

<section class="hero is-fullheight is-default is-bold">

    {{- partial "navbar.html" . -}}
    {{- partial "navbar-clone.html" . -}}

    {{- $homepage := .Site.Params.homepage -}}
    {{- $title := index $homepage "title" -}}
    {{- $subtitle := index $homepage "subtitle" -}}
    {{- $image := index $homepage "image" -}}
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-5 is-offset-1 landing-caption">
                    <h1 class="title is-1 is-bold is-spaced">
                        {{- $title -}}
                    </h1>
                    {{- with $subtitle -}}
                    <h2 class="subtitle is-5 is-muted">
                        {{ . }}
                    </h2>
                    {{- end -}}
                    <p>
                        <a class="button cta rounded raised cta-btn" href="/tags">
                            Scopri
                        </a>
                    </p>
                </div>
                <div class="column is-5 is-offset-1">
                    <figure class="image">
                        {{- $img := resources.Get $image -}}
                        <img src="{{- $img.Permalink | relURL -}}"
                            style="width:{{- .Site.Params.homepage.imageWidth -}}" alt="Myself">
                    </figure>
                </div>
            </div>

            <div class="columns is-vcentered">
                <div class="has-text-centered m-10">
                    <figure class="image is-inline-block" style="width: 60%;">
                        <img class="image box" src="/img/io.jpeg" alt="Io seduto su una roccia"/>
                    </figure>
                </div>

                <div class="column is-5 is-offset-1 landing-caption">
                    <h2 class="title is-2 is-bold is-spaced">
                        Chi sono?
                    </h2>
                    
                    <div class="subtitle is-5 is-muted">
                        <p>
                        Mi chiamo Dario, sono un appassionato di montagna, cammini e vita all’aria aperta.
                        Scrivo guide pratiche, consigli e riflessioni per aiutare chi vuole avvicinarsi all’escursionismo in modo consapevole, 
                        leggero e rispettoso della natura.
                        </p>
                        <p>
                        Sebbene svolga un lavoro sedentario e prettamente tecnico,
                        ho sempre avuto la passione per la scrittura. 
                        Quando mi appassiono a qualcosa cerco di raccogliere tutte le informazioni che trovo,
                        e lo stesso vale per i cammini e per le escursioni. 
                        </p>
                        <p>
                            Ho deciso di organizzare e condividere queste informazioni, con l'auspicio che possano essere d'aiuto per chi si sta avvicinando all'escursionismo.
                        </p>
                    </div>

                    <p>
                        <a class="button cta rounded raised cta-btn" href="/lateoriadellozaino">
                            La teoria dello zaino
                        </a>
                    </p>
                    

                </div>
            </div>
        </div>
    </div>
</section>

{{- partial "footer.html" . -}}

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

{{- partial "sidebar.html" . -}}

{{- end -}}